*{
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #333;
    position: relative;
}

.navbar > ul {
    position: absolute;
    right: 10px;
    display: inline-block;
} 

.navbar > ul > li {
    display: inline-block;
    margin-left: 10px;
}


#nav-logo {  
    height: 30px;
    padding: 10px 10px;
    position: absolute;
}


.navbar > ul > li > a:link {
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
}

.navbar > ul > li > a:visited {
    color: #FFF;
    text-decoration: none;
}

.navbar > ul > li > a:hover {
    color: #008CBA;
    text-decoration: none;
    background-color: orange;
    height: 20px;
}

.navbar > ul > li > a:active {
    background-color: orange;
}

header {
    padding: 0;
    width: 100%;
    display: flex; /* Flexbox aktivieren */
    justify-content: space-around; /* Abstand zwischen den Bildern */
    align-items: center; /* Bilder vertikal zentrieren */
    overflow-x: scroll;
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    background-color: rgb(214, 190, 53);
}
.header-content > img {
    width: 200px;
    height: auto;
}